body {
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.graella {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

.dia {
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  padding: 15px;
}

.ocult {
  display: none;
}

body.nocturn {
  background: #000;
  color: #ff4444;
}
/* TOP BAR */
.topbar{
  display:grid;
  grid-template-columns: 52px 1fr 52px;
  align-items:center;
  padding: 10px 12px;
  gap: 8px;
}

.logo-am{
  width: 34px;
  height: 34px;
  object-fit: contain;
}

.topbar-title{
  margin:0;
  text-align:center;
  font-size: 34px;
  font-weight: 800;
}

.btn-icon{
  background: transparent;
  border: 0;
  padding: 6px;
  border-radius: 10px;
}

.icon-btn{
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* FOTO DEL MES A AMPLE COMPLET */
#fotoMes{
  padding: 0 0 10px 0;
}

#fotoMes img{
  width: 100%;
  height: auto;
  display:block;
  border-radius: 0; /* si la vols rectangular com al mockup */
}

#titolFoto{
  margin: 10px 12px 0 12px;
  font-size: 18px;
}

